/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    /*header start*/
    header{
        padding: 0px 0;
    }
    .menu ul li a {
        padding: 5px 0px 0!important;
        font-size: 20px;
        text-align: right;
       }

         /*slaider start*/
    .slaider {
        padding-bottom: 60px;
     }
 
     .c_ind {
         bottom: -50px;
     }
 
     .c_ind [data-bs-target] {
         width: 13px;
         height: 13px;
     }
 
     .sl_text {
         margin-top: 0px;
     }
 
     .sl_text h1 {
         font-size: 25px;
     }
 
     .sl_text h2 {
         margin: 15px 0;
         font-size: 18px;
     }
 
     .sl_text p {
         margin-bottom: 20px;
      }
     .sl_icon {
         margin: 0px 0px;
         font-size: 35px;
     }
 
     .sl_icon ul li i {
         padding-right: 20px;
     }
    
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    

    /*slaider start*/
    .slaider {
       padding-bottom: 60px;
    }

    .c_ind {
        bottom: -50px;
    }

    .c_ind [data-bs-target] {
        width: 13px;
        height: 13px;
    }

    .sl_text {
        margin-top: 0px;
    }

    .sl_text h1 {
        font-size: 25px;
    }

    .sl_text h2 {
        margin: 15px 0;
        font-size: 18px;
    }

    .sl_text p {
        margin-bottom: 20px;
     }
    .sl_icon {
        margin: 0px 0px;
        font-size: 35px;
    }

    .sl_icon ul li i {
        padding-right: 20px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    /*header start*/
    .menu ul li a {
        padding: 5px 0px 0!important;
        font-size: 20px;
        text-align: right;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
}

/* extra Large devices (desktops, 992px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    
 }

/* Extra Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) { 
    
 }