/*common start*/
body{
  font-family: 'PT Sans', sans-serif;
  font-size:16px ;
  font-weight: 400;
  color: #000000;

}

/*common auto*/

/*header start*/
header{
  padding: 20px 0;
  background-color:  #ffcc00;
}

.logo{}
.logo_text{ 
  display: inline-flex;
  /* text-align: center; */
  font-size: 30px;
  font-weight: 700;
}
.c_nav{}
.menu{}
.menu ul li a{
  font-size: 22px;
  font-weight: 700;
  color: #000000 !important;;
  padding: 0 50px !important;;
}
.menu ul li:last-child a{ 
  padding-right: 0 !important
}
.menu ul li a:hover{
  color: white !important;
  transition: .9s;
}
/*header end*/

/*slaider start*/

.slaider{
  background-color:  #ffcc00;
  padding-bottom: 100px;
}
.c_ind{
  bottom: -80px;
}

.c_ind [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;

}

.carousel-indicators .active {
  opacity: 1;
}

.s_text{
  margin-top: 50px;
}
.s_text h1{
  font-size: 32px;
  font-weight: 700;
}
.s_text h2{
  margin: 20px 0;
  font-size: 20px;
  font-weight: 400;
  color: #333333;
}
.s_text p{
  margin-bottom: 35px;
  color: #666666;
}
.s_icon{

}
.s_icon ul li{
  margin-right: 30px !important;
  transition: .9s;
}

.s_icon ul li:hover{
  transform: scale(.8);
  color: white;
}
.s_icon ul li i{
  font-size: 42px;
}

.carousel-indicators {
  bottom: -80px;
}

/*slaider end*/

/*feature start*/
.feature{
  padding-top: 100px;
  padding-bottom: 120px;
}
.com_titel{}
.c_h1{
  margin-bottom: 15px;
  font-size: 32px;
  font-weight:700 ;
  color: ;
}
.c_p{
  font-size: 20px;
  color: ;
}
.f_item{
  margin-top: 70px;
}

.f_icon{}
.f_icon i{
  font-size: 50px;
}

.f_icon i:hover{
  transform: scale(.8);
  color:  #ffcc00;
}
.f_text{}
.f_text h2{
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
}
.f_text p{
  color: #999999;
  letter-spacing: 1px;
}
/*feature end*/