/*common start*/
body{
  font-family: 'PT Sans', sans-serif;
  font-size:16px ;
  font-weight: 400;
  color: #000000;

}

/*common auto*/

/*header start*/
header{
  padding: 20px 0;
  background-color:  #ffcc00;
}
strong{ 
  text-align: center;
  font-size: 30px;
}
.c_nav{}
.menu{}
.menu ul li a{
  font-size: 22px;
  font-weight: 700;
  color: #000000 !important;;
  padding: 0 50px !important;;
}
.menu ul li:last-child a{ 
  padding-right: 0 !important
}
.menu ul li a:hover{
  color: white !important;
  animation: .33;
}
/*header end*/

.slaider{
  background-color:  #ffcc00;
  padding-bottom: 100px;
}

.c_ind{
  bottom: -80px;
}

.c_ind [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}


.sl_text{
  margin-top: 50px;
}
.sl_text h1{
  font-size: 32px;
  font-weight: 700;
}
.sl_text h2{
  margin:20px 0;
  font-weight: 400;
  font-size: 20px;
  color: #333333;
}
.sl_text p{
  color: #999999;
}
.sl_icon{ 
  margin: 45px 0px;
  font-size: 40px;
}
.sl_icon ul li i{
  padding-right: 15px;
  transition: .3s;
  
}

.sl_icon ul li i:hover{
  transform :scale(.8);
  color: white;
}
.sl_icon ul li{}
.sl_img{}
.